<h1>注文一覧</h1>
<% @orders.each do |order| %>
<tr>
  <td><%= order.created_at.strftime('%Y/%m/%d') %></td>
  <td>
   <%= order.postcode %><br>
    <%= order.address_city %><br>
    <%= order.name %><br>
    <%= order.product_id %><br>
    <%= order.product.name %><br>
    <%= order.product.id %><br>
    <%= order.quantity %><br>
    <% end %>

