<div class="container">
  <div class="pricing-header px-3 py-3 pt-md-5 pb-md4 max-auto text-center">
    <h1>注文一覧</h1>
  </div>
</div>

<div class="container">
  <div class="p-3 my-3 text-center">
    <% @orders.each do |order| %>
    <table class="table table-bordered">
      <thead>
        <tr class="table-primary">
          <th>注文日</th>
          <th>配送先</th>
          <th>注文商品</th>
          <th>支払い金額</th>
          <th>注文詳細</th>
        </tr>
      </thead>
      <tbody>
        <td><%= order.created_at.strftime('%Y/%m/%d') %></td>
        <td>
          〒<%= order.postcode %></br>
          <%= order.prefecture_code %><%= order.address_city %><%= order.address_street %></br>
          <%= order.name %>
        </td>
        <td><%= order.product.name %></td>
        <td><%= order.price %>円（税込）</td>
        <td><%= link_to "詳細", customer_order_path(order), class: "btn btn-success" %></td>
      </tbody>
      <% end %>
    </table>
  </div>
</div>
