<div class="container">
  <div class="pricing-header px-3 py-3 pt-md-5 pb-md4 max-auto text-center">
    <h1>会員詳細</h1>
  </div>
</div>

<div class="container">
  <div class="p-3 my-3">
    <h2><%= @customer.name %>さんの会員情報</h2>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>会員ID</th>
              <td><%= @customer.id %></td>
            </tr>
            <tr>
              <th>氏名</th>
              <td><%= @customer.name %></td>
            </tr>
            <tr>
              <th>カナ</th>
              <td><%= @customer.name_kana %></td>
             </tr>
            <tr>
              <th>郵便番号</th>
              <td><%= @customer.postcode %></td>
            </tr>
            <tr>
              <th>住所</th>
              <td><%= @customer.prefecture_code %><%= @customer.address_city %><%= @customer.address_street %></td>
            </tr>
            <tr>
              <th>電話番号</th>
              <td><%= @customer.phone_namber %></td>
            </tr>
            <tr>
              <th>メールアドレス</th>
              <td><%= @customer.email %></td>
            </tr>
        </thead>
  	  </table>
  	  <%= link_to "編集する", edit_admin_customer_path, class: "btn btn-primary" %>
  </div>
</div>