<div class="container">
  <div class="pricing-header px-3 py-3 pt-md-5 pb-md4 max-auto text-center">
    <h1>商品一覧</h1>
  </div>
</div>

<div class="container">
  <div class="p-3 my-3">
          <h3>全<%= @products.count %>件</h3>
          <form class="form-inline">
            <% @products.each do |product| %>
              <%= link_to customer_product_path(product.id) do %>
                <div class="mx-3">
                  <%= attachment_image_tag product, :image, :size =>'200x200' %></br>
                  <%= product.name %></br>
              <% end %>
                  <%= product.price %>円（税込)
                </div>
            <% end %>
          </form>
  </div>
</div>
