<div class="container">
  <div class="pricing-header px-3 py-3 pt-md-5 pb-md4 max-auto text-center">
    <table>
      <tr>
        <td><%= attachment_image_tag @product, :image, :size =>'500x500' %></td>
        <td>
          <%= @product.name %></br>
          </br>
          <%= @product.introduction %><br>
          </br>
          <%= @product.price %>円（税込）</br>
          </br>

          <%= form_with model: [:customer, @cart], local:true do |f| %>
            <%= f.select :quantity, options_for_select((1..10).to_a) , include_blank: "個数選択", selected: 1 %></br></br>
            <%= f.hidden_field :product_id, value: @product.id %>
            <%= f.submit 'カートに入れる', class: 'btn btn-success btn-sm ml-5'  %>
           <% end %>
        </td>
      </tr>
    </table>
  </div>
</div>