<div class="container">
  <div class="pricing-header px-3 py-3 pt-md-5 pb-md4 max-auto text-center">
    <h1>商品新規登録</h1>
  </div>
</div>

<div class="container">
  <div class="p-3 my-3">
    <%= form_with model: [:admin, @product], local:true do |f| %>
    <table class="table table-bordered">
      <tr>
        <td>商品画像</td>
        <td><%= f.attachment_field :image %></td>
      </tr>
      <tr>
        <td><%= f.label :name, "商品名" %></td>
        <td><%= f.text_field :name %></td>
      </tr>
      <tr>
        <td><%= f.label :introduction, "商品説明" %></td>
        <td><%= f.text_area :introduction %></td>
      </tr>
      <tr>
        <td><%= f.label :price, "価格（税込）" %></td>
        <td><%= f.text_field :price %>円</td>
      </tr>
    </table>
    <%= f.submit "新規登録", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
