<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1>商品新規登録</h1>
        <%= form_with model: [:admin, @product], local:true do |f| %>
          <div>
            <%= f.attachment_field :image %>
          </div>
        
          <div>
            <%= f.label :name, "商品名" %>
            <%= f.text_field :name %>
          </div>
        
          <div>
            <%= f.label :introduction, "商品説明" %>
            <%= f.text_area :introduction %>
          </div>
        
          <div>
            <%= f.label :price, "価格" %>
            <%= f.text_field :price %>円<br>
          </div>
        
          <%= f.submit "新規登録", class: "btn btn-primary" %>
        
        <% end %>
    </div>
  </div>
</div>


